:root {
	--Cadet-Blue: #51a3a3;
	--Aztec-Gold: #cb904d;
	--Deep-Space-Sparcle: #466362;
	--Straw: #dfcc74;
	--Medium-Spring-Bud: #c3e991;

	--Charlston-Green: #2d2d2a;
	--Honeydew: #f1f7ee;
	--English-Green: #19535f;
	--Eggshell: #eaf0ce;
	--Sheldon-Blue: #7d98a1;

	--Dark-Smoke: #707070;
	--Red-Wine: #e92424;
}

.o-main-area {
	grid-area: main-area;
	background-color: white;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.o-section-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	width: 80%;
	margin: 2rem 0;
}

.o-page-heading {
	margin-bottom: 1rem;
}

.o-page-body {
	display: flex;
	justify-content: start;
	align-items: start;
	width: 100%;
	height: 100%;
	background-color: var(--Eggshell);
	border: 1px solid var(--Dark-Smoke);
}

.c-page-heading {
	color: var(--Cadet-Blue);
}

.c-user-profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.c-user-profile__image {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-image: url('../Images/ChloeAvatar.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.c-user-profile__info {
	margin-top: 30px;
}

.c-user-profile__info__fullname {
	margin-bottom: 20px;
	height: 30px;
	line-height: 30px;
	color: var(--English-Green);
	text-align: center;
}

.c-user-profile__info__detail-list {
	margin-top: 50px;
	display: flex;
	width: 336px;
	height: 60px;
	justify-content: space-between;
	align-items: center;
	color: var(--Dark-Smoke);
}
