:root {
	--Cadet-Blue: #51a3a3;
	--Aztec-Gold: #cb904d;
	--Deep-Space-Sparcle: #466362;
	--Straw: #dfcc74;
	--Medium-Spring-Bud: #c3e991;

	--Charlston-Green: #2d2d2a;
	--Honeydew: #f1f7ee;
	--English-Green: #19535f;
	--Eggshell: #eaf0ce;
	--Sheldon-Blue: #7d98a1;

	--Dark-Smoke: #707070;
	--Red-Wine: #e92424;
}

.o-main-area {
	grid-area: main-area;
	background-color: white;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.user-profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.user-profile__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--Eggshell);
	width: 80%;
	height: 90%;
}

.user-profile__image {
	height: 336px;
	width: 336px;
	border-radius: 50%;
	background-image: url('../Images/ChloeAvatar.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.user-profile__info {
	margin-top: 30px;
}

.user-profile__info__fullname {
	margin-bottom: 20px;
	height: 30px;
	line-height: 30px;
	color: var(--English-Green);
	text-align: center;
}

.user-profile__info__detail-list {
	margin-top: 50px;
	display: flex;
	width: 336px;
	height: 60px;
	justify-content: space-between;
	align-items: center;
}
