:root {
    --Cadet-Blue: #51A3A3;
    --Aztec-Gold: #CB904D;
    --Deep-Space-Sparcle: #466362;
    --Straw: #DFCC74;
    --Medium-Spring-Bud: #C3E991;

    --Charlston-Green: #2D2D2A;
    --Honeydew: #F1F7EE;
    --English-Green: #19535F;
    --Eggshell: #EAF0CE;
    --Sheldon-Blue: #7D98A1;

    --Dark-Smoke: #707070;
    --Red-Wine: #E92424;
}





