:root {
    /*Veneziano Coffee Roasters*/
    --Cream: #F6F4F2;
    --Teal: #425664;
    --Mocha: #C6AD8F;
    /*Slumber*/
    --Midnight: #051622;
    --Ocean: #1BA098;
    --Cappuccino: #DEB992;
    /*Copie de Copie de eet*/
    --AshFall: #8C8474;
    --VolcanicRock: #272425;
    --CreamyWhite: #F3F5D8;
    --MachaGreen: #384001;
    --GrassyGreen: #849609;
}

.footer {
    grid-area: footer;
    background-color: var(--Midnight);
    color: white;
    height: 2rem;
    display: flex;
    flex-direction: column;
    outline:none;
    }

.footer p {
    width: 100%;
    line-height: 2rem;
    text-align: center;
    outline:none;
}

 