.o-main-area {
	grid-area: main-area;
	background-color: white;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.o-section-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.o-page-heading {
	margin-bottom: 1rem;
}

.o-page-body {
	display: flex;
	justify-content: start;
	align-items: start;
	width: 100%;
	height: 100%;
	background-color: var(--Eggshell);
	border: 1px solid var(--Dark-Smoke);
}

.o-user-list__item {
	margin-top: 1rem;
}

.c-user {
	display: flex;
	justify-content: start;
	align-items: center;
	width: 500px;
	background-color: var(--Eggshell);
	height: 6rem;
}

.c-user__avatar {
	margin: 0.5rem;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	background-image: url('../Images/ChloeAvatar.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.c-user__info {
	margin: 0.5rem;
	padding: 0.5rem;
	height: 5rem;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.c-user__fullname {
	line-height: 2rem;
	text-align: center;
}

.c-user__detail-list {
	display: flex;
	justify-content: space-around;
	align-items: center;

	line-height: 2rem;
}
