:root {
    --Cadet-Blue: #51A3A3;
    --Aztec-Gold: #CB904D;
    --Deep-Space-Sparcle: #466362;
    --Straw: #DFCC74;
    --Medium-Spring-Bud: #C3E991;

    --Charlston-Green: #2D2D2A ;
    --Honeydew: #F1F7EE ;
    --English-Green: #19535F ;
    --Eggshell: #EAF0CE ;
    --Sheldon-Blue: #7D98A1;
}

.blogs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.blogs__popular, .blogs__newposts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 0;
    width: 100%;
}

.blogs__popular h2, .blogs__newposts h2 {
    margin-left: 1rem;
}

.blog-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

.blog-card {
    width: 329px;
}




.blog-image {
    height: 220px;
    width: 329px;
    background-color: burlywood;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.blog-image .image-container {
   
   width: 100%;
}

.blog-image .image-container img{
    display: block;  
}

.blog-title {
    height: 77px;
    width: 329px;
    background-color: gray;
    overflow: hidden;
}

.blog-title h3 {
    font-size: 28px;
    line-height: 32px;
    padding: 0.5rem 0.5rem;

}

.blog-content {
    height: 102px;
    width: 329px;
    background-color: plum;
    overflow: hidden;
}

.blog-content p{
    font-family: "Montserrat";
    padding: 0.3rem 0.5rem;
    text-align: justify;
    line-height: 24px;
}

.blog-author {
    height: 24px;
    width: 329px;
    background-color: blueviolet;
}
.blog-author h3 {
    font-family: "Rockwell";
    font-style: italic;
    font-size: 20px;
    line-height: 24px;
    padding-left: 0.5rem;
}

.blog-date {
    height: 27px;
    width: 329px;
    background-color: gold;
}

.blog-status {
    display: flex;
    justify-content: space-between;
    height: 24px;
    width: 329px;
    background-color: pink;
}

.blog-status .likes, .blog-status .comments {
    width: 66px;
    height: 24px;
}