.blogs__table {
    display: table;
    outline:none;
    padding: 0.3rem;
    background-color: var(--color1);
    width: 100%;
    
}

.blog-row__head, .blog-row__body {
    display: table-row;
    outline:none;
}

.blog-row__head {

    
    background-color: var(--color3);
    font-size: 1rem;
    color: white;
}

.blog-row__body {
    font-family: "Montserrat";

    color: var(--color2);
    font-size: 0.8rem;
    font-weight:normal;
    transition: all 1s ease;
    text-decoration: none;
    
    transition: all 0.2s ease-in;

}

.blog-row__body:hover {
    background-color: var(--color5);
    color: var(--color1);
    
}


.blog__cell {
    display: table-cell;
    padding: 1rem;
    outline:none;    
}

.edit-blog-button, .delete-blog-button {
    display: inline-block;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0 0.3rem;
}

.edit-blog-button {
    background-color: var(--Medium-Spring-Bud);
}

.delete-blog-button {
    background-color: var(--Red-Wine);
}



