.o-main-area {
	grid-area: main-area;
	background-color: white;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.o-section-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	width: 80%;
	margin: 2rem 0;
}

.o-page-heading {
	margin-bottom: 1rem;
}

.o-page-body {
	display: flex;
	justify-content: start;
	align-items: start;
	width: 100%;
	height: 100%;
	background-color: var(--Eggshell);
	border: 1px solid var(--Dark-Smoke);
}
.c-page-heading {
	color: var(--Cadet-Blue);
}
.c-blog {
	height: 2000px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.c-blog__header {
	margin: 1rem;
}
.c-blog__title {
	color: var(--English-Green);
	text-align: center;
	font-size: 1.2rem;
}

.c-blog__author {
	text-align: center;
	font-size: 1rem;
	font-style: italic;
	color: var(--Dark-Smoke);
}

.c-blog__body {
	margin: 1rem;
}

.c-blog__content {
	columns: 2;
	width: 100%;
	text-align: justify;
	font-size: 0.9rem;
}

.c-blog-details {
	width: 100%;
	margin-top: 2rem;
	height: 10rem;
}

.c-blog-details__date-created {
	display: flex;
	justify-content: start;
	align-items: center;
	height: 2rem;

	color: var(--English-Green);
}
.c-blog-details__date-created-icon {
	height: 1.5rem;
	width: 1.5rem;
	fill: var(--English-Green);
}

.c-blog-details__date-created-date {
	color: var(--English-Green);
	height: 1.5rem;
	margin-left: 0.8rem;
}

.c-blog-details__date-edited {
	display: flex;
	justify-content: start;
	align-items: center;
	height: 2rem;
}
.c-blog-details__date-edited-icon {
	height: 1.5rem;
	width: 1.5rem;
	fill: var(--English-Green);
}

.c-blog-details__date-edited-date {
	color: var(--English-Green);
	height: 1.5rem;
	margin-left: 0.8rem;
}

.c-blog-details__likes {
	display: flex;
	justify-content: start;
	align-items: center;
	height: 2rem;
}
.c-blog-details__likes-icon {
	height: 1.5rem;
	width: 1.5rem;
	fill: var(--Aztec-Gold);
}

.c-blog-details__likes-count {
	color: var(--Aztec-Gold);
	height: 1.5rem;
	margin-left: 0.8rem;
}

.c-blog-details__comments {
	display: flex;
	justify-content: start;
	align-items: center;
	height: 2rem;
}
.c-blog-details__comments-icon {
	height: 1.5rem;
	width: 1.5rem;
	fill: var(--Dark-Smoke);
}

.c-blog-details__comments-count {
	color: var(--Dark-Smoke);
	height: 1.5rem;
	margin-left: 0.8rem;
}

.c-blog__footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.c-blog-comments {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.c-blog-comments__heading {
	margin: 1rem;
	color: var(--Dark-Smoke);
}

.c-comments-form__input-message {
	width: 50rem;
}
