:root {
	/*Veneziano Coffee Roasters*/
	--Cream: #f6f4f2;
	--Teal: #425664;
	--Mocha: #c6ad8f;
	/*Slumber*/
	--Midnight: #051622;
	--Ocean: #1ba098;
	--Cappuccino: #deb992;
	/*Copie de Copie de eet*/
	--AshFall: #8c8474;
	--VolcanicRock: #272425;
	--CreamyWhite: #f3f5d8;
	--MachaGreen: #384001;
	--GrassyGreen: #849609;
}

.header {
	background-color: var(--Teal);
	height: 2rem;
	grid-area: header;
	width: 100vw;
	display: flex;
	justify-content: center;
}
